<div *ngIf="show && app.side" [@slideInOutRight] class="wrapper">
  <div class="title-wrapper">
    <div class="title row justify-content-center">
      <img class="logo" [src]="logo" />
      {{ app.app }}
    </div>
    <div class="subtitle row justify-content-center">
      {{ subtitle }}
    </div>
  </div>
  <div class="content">
    <div class="pictures row justify-content-center">
      <img
        *ngFor="let picture of pictures; let i = index"
        (click)="setModal(picture)"
        [attr.data-index]="i"
        [attr.src]="picture"
        class="picture"
      />
    </div>
    <div class="description">
      {{ description }}
    </div>
    <div class="links">
      <div class="link">You can access a live demo <a [href]="link">here</a></div>
      <div *ngIf="git !== ''" class="link">This project is open-source, you can find it on <a [href]="git">Github</a></div>
    </div>
  </div>
  <div class="footer">
    <div class="technos row">
      <i *ngFor="let techno of technos; let i = index" [attr.data-index]="i" [attr.class]="techno + ' tech'" class="tech"></i>
    </div>
  </div>
</div>

<div *ngIf="show && !app.side" [@slideInOutLeft] class="wrapper left">
  <div class="title-wrapper">
    <div class="title row justify-content-center">
      <img class="logo" [src]="logo" />
      {{ app.app }}
    </div>
    <div class="subtitle row justify-content-center">
      {{ subtitle }}
    </div>
  </div>
  <div class="content">
    <div class="pictures row justify-content-center">
      <img
        *ngFor="let picture of pictures; let i = index"
        (click)="setModal(picture)"
        [attr.data-index]="i"
        [attr.src]="picture"
        class="picture"
      />
    </div>
    <div class="description">
      {{ description }}
    </div>
    <div class="links">
      <div class="link">You can access a live demo <a [href]="link">here</a></div>
      <div *ngIf="git !== ''" class="link">This project is open-source, you can find it on <a [href]="git">Github</a></div>
    </div>
  </div>
  <div class="footer">
    <div class="technos row">
      <i *ngFor="let techno of technos; let i = index" [attr.data-index]="i" [attr.class]="techno + ' tech'" class="tech"></i>
    </div>
  </div>
</div>

<div *ngIf="showModal && image !== ''" class="modalImage" (click)="clearModal()">
  <img class="imgModal" [attr.src]="image" />
</div>
