<div *ngIf="show && app.side" [@slideInOutRight] class="wrapper">
  <div class="title-wrapper">
    <div class="title row justify-content-center">
      <img class="logo" [src]="logo" />
      {{ app.app }}
    </div>
    <div class="subtitle row justify-content-center">
      {{ subtitle }}
    </div>
  </div>
  <div class="content">
    <div class="pictures">
      <div *ngIf="pictures.length === 0 && pdf === ''" class="nopic">No pictures are available.</div>
      <img
        *ngFor="let picture of pictures; let i = index"
        (click)="setModal(picture)"
        [attr.data-index]="i"
        [attr.src]="picture"
        class="picture"
      />
      <img *ngIf="pictures.length < 4 && pdf !== ''" (click)="setModal(pdf)" src="/content/images/pdf.svg" class="picture pdf" />
    </div>
    <div class="description">
      {{ description }}
    </div>
    <div class="links">
      <div *ngIf="link !== ''" class="link">
        You can access a live demo <a [href]="link" target="_blank" rel="noopener noreferrer">here</a>
      </div>
      <div *ngIf="link === ''" class="link">No demo is actually available.</div>
      <div *ngIf="git !== ''" class="link">
        This project is open-source, you can find it on <a [href]="git" target="_blank" rel="noopener noreferrer">Github</a>
      </div>
      <div *ngIf="git === ''" class="link">This project is private, no repository is available.</div>
    </div>
  </div>
  <div class="footer">
    <div class="technos row">
      <i *ngFor="let techno of technos; let i = index" [attr.data-index]="i" [attr.class]="techno + ' tech'" class="tech"></i>
    </div>
  </div>
</div>

<div *ngIf="show && !app.side" [@slideInOutLeft] class="wrapper left">
  <div class="title-wrapper">
    <div class="title row justify-content-center">
      <img class="logo" [src]="logo" />
      {{ app.app }}
    </div>
    <div class="subtitle row justify-content-center">
      {{ subtitle }}
    </div>
  </div>
  <div class="content">
    <div class="pictures">
      <div *ngIf="pictures.length === 0 && pdf === ''" class="nopic">No pictures are available.</div>
      <img
        *ngFor="let picture of pictures; let i = index"
        (click)="setModal(picture)"
        [attr.data-index]="i"
        [attr.src]="picture"
        class="picture"
      />
      <img *ngIf="pictures.length < 4 && pdf !== ''" (click)="setModal(pdf)" src="/content/images/pdf.svg" class="picture pdf" />
    </div>
    <div class="description">
      {{ description }}
    </div>
    <div class="links">
      <div *ngIf="link !== ''" class="link">You can access a live demo <a [href]="link">here</a></div>
      <div *ngIf="link === ''" class="link">No demo is actually available.</div>
      <div *ngIf="git !== ''" class="link">This project is open-source, you can find it on <a [href]="git">Github</a></div>
      <div *ngIf="git === ''" class="link">This project is private, no repository is available.</div>
    </div>
  </div>
  <div class="footer">
    <div class="technos row">
      <i *ngFor="let techno of technos; let i = index" [attr.data-index]="i" [attr.class]="techno + ' tech'" class="tech"></i>
    </div>
  </div>
</div>

<div *ngIf="showModal && image !== ''" class="modalImage" (click)="clearModal()">
  <img *ngIf="image.slice(-1) !== 'f'" class="imgModal" [attr.src]="image" />
  <iframe *ngIf="image.slice(-1) === 'f'" class="pdfModal" [src]="trustPdf"> </iframe>
</div>
