<div *ngIf="show && app.side" [@slideInOutRight] class="wrapper">
  <div class="title-wrapper">
    <div class="title row justify-content-center">
      <img class="logo" src="/content/images/portfolio/koodibril/colibri.png" />
      AlphaBril
    </div>
    <div class="subtitle row justify-content-center">Florian-marie doucet</div>
  </div>
  coucou
</div>

<div *ngIf="show && !app.side" [@slideInOutLeft] class="wrapper left">
  <div class="title-wrapper">
    <div class="title row justify-content-center">
      <img class="logo" src="/content/images/portfolio/koodibril/colibri.png" />
      AlphaBril
    </div>
    <div class="subtitle row justify-content-center">Florian-marie doucet</div>
  </div>
  coucou
</div>

<div *ngIf="showModal && image !== ''" class="modalImage" (click)="clearModal()">
  <img *ngIf="image.slice(-1) !== 'f'" class="imgModal" [attr.src]="image" />
  <iframe *ngIf="image.slice(-1) === 'f'" class="pdfModal" [src]="trustPdf"> </iframe>
</div>
